<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>javaScript datastructures</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="page-wrapper">
        <!-- Header -->
        <header class="header">
            <div class="logo">
                <a href="#">
                    <img src="../assets/logo-black.png" alt="Asabre" />
                </a>
            </div>
            <h1>
                <!-- DataStructures(javaScript) -->
            </h1>
        </header>
        <!-- main -->
        <main class="main">
            <div class="card">
                <img class="card-img" src="../assets/pic5.jpg" alt="">
                <div class="cardinfo">
                    <h1 class="title">
                        Binary Gap
                    </h1>
                    <span>A binary gap within a positive integer N is any maximal sequence of consecutive
                        zeros that is surrounded by ones at both ends in the binary representation of N.</span>
                </div>
                <a href="binary-gap.html">
                    <button class="card-btn">
                        OPEN
                    </button>
                </a>
            </div>
        </main>
        <!-- Footer -->
        <footer class="footer">

        </footer>
    </div>
</body>

</html>